<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.springcloud.model.pojo.mybatis.mapper.dao.StudentsMapper">
    <resultMap id="BaseResultMap" type="com.it.springcloud.model.pojo.mybatis.mapper.entity.Students">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="sno" property="sno" jdbcType="DECIMAL"/>
        <result column="sname" property="sname" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="DECIMAL"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="bplace" property="bplace" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, sno, sname, age, sex, bplace
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.StudentsExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from students
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from students
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from students
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.StudentsExample">
        delete from students
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.Students">
    insert into students (id, sno, sname, 
      age, sex, bplace)
    values (#{id,jdbcType=INTEGER}, #{sno,jdbcType=DECIMAL}, #{sname,jdbcType=VARCHAR}, 
      #{age,jdbcType=DECIMAL}, #{sex,jdbcType=VARCHAR}, #{bplace,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.Students">
        insert into students
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sno != null">
                sno,
            </if>
            <if test="sname != null">
                sname,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="bplace != null">
                bplace,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sno != null">
                #{sno,jdbcType=DECIMAL},
            </if>
            <if test="sname != null">
                #{sname,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=DECIMAL},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="bplace != null">
                #{bplace,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.StudentsExample"
            resultType="java.lang.Integer">
        select count(*) from students
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update students
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.sno != null">
                sno = #{record.sno,jdbcType=DECIMAL},
            </if>
            <if test="record.sname != null">
                sname = #{record.sname,jdbcType=VARCHAR},
            </if>
            <if test="record.age != null">
                age = #{record.age,jdbcType=DECIMAL},
            </if>
            <if test="record.sex != null">
                sex = #{record.sex,jdbcType=VARCHAR},
            </if>
            <if test="record.bplace != null">
                bplace = #{record.bplace,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update students
        set id = #{record.id,jdbcType=INTEGER},
        sno = #{record.sno,jdbcType=DECIMAL},
        sname = #{record.sname,jdbcType=VARCHAR},
        age = #{record.age,jdbcType=DECIMAL},
        sex = #{record.sex,jdbcType=VARCHAR},
        bplace = #{record.bplace,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.Students">
        update students
        <set>
            <if test="sno != null">
                sno = #{sno,jdbcType=DECIMAL},
            </if>
            <if test="sname != null">
                sname = #{sname,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=DECIMAL},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="bplace != null">
                bplace = #{bplace,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.Students">
    update students
    set sno = #{sno,jdbcType=DECIMAL},
      sname = #{sname,jdbcType=VARCHAR},
      age = #{age,jdbcType=DECIMAL},
      sex = #{sex,jdbcType=VARCHAR},
      bplace = #{bplace,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!--根据id查询学生信息-->
    <select id="findStudentsById" parameterType="Integer" resultType="students">
      select * from students where id =#{id}
    </select>

    <!--根据多个id值查询学生信息-->
    <select id="findStudentsByIds" parameterType="com.it.springcloud.model.vo.student.StudentVo" resultType="students">
        select * from students
        <where>
            <if test="null !=ids and ids.size()>0">
                <foreach collection="ids" item="id" open="id in (" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <resultMap id="findStudentWithCourseList"
               type="com.it.springcloud.model.pojo.mybatis.mapper.entity.extend.StudentsExtend">
        <id property="id" column="id"/>
        <id property="sno" column="sno"/>
        <id property="sname" column="sname"/>
        <id property="age" column="age"/>
        <id property="sex" column="sex"/>
        <id property="bplace" column="bplace"/>
        <collection property="coursesExtends"
                    ofType="com.it.springcloud.model.pojo.mybatis.mapper.entity.extend.CoursesExtend">
            <id property="id" column="id"/>
            <id property="cno" column="cno"/>
            <id property="cname" column="cname"/>
            <id property="credit" column="credit"/>
            <collection property="stuCouScoreList"
                        ofType="com.it.springcloud.model.pojo.mybatis.mapper.entity.StuCouScore">
                <id property="id" column="id"/>
                <id property="sno" column="sno"/>
                <id property="cno" column="cno"/>
                <id property="score" column="score"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findStudentWithCourse" resultMap="findStudentWithCourseList">
        select s.id,
        s.sno,
        s.sname,
        s.age,
        s.sex,
        s.bplace,
        o.cno,
        o.cname,
        o.credit,
        scs.score
        from students s,
        courses o,
        stu_cou_score scs
        <where>
            s.sno = scs.sno
            and o.cno = scs.cno;
        </where>
    </select>
</mapper>