<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.springcloud.model.pojo.mybatis.mapper.dao.TeachersMapper" >
  <resultMap id="BaseResultMap" type="com.it.springcloud.model.pojo.mybatis.mapper.entity.Teachers" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tno" property="tno" jdbcType="DECIMAL" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="DECIMAL" />
    <result column="ps" property="ps" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tno, tname, age, ps
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.TeachersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teachers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teachers
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teachers
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.TeachersExample" >
    delete from teachers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.Teachers" >
    insert into teachers (id, tno, tname, 
      age, ps)
    values (#{id,jdbcType=INTEGER}, #{tno,jdbcType=DECIMAL}, #{tname,jdbcType=VARCHAR}, 
      #{age,jdbcType=DECIMAL}, #{ps,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.Teachers" >
    insert into teachers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tno != null" >
        tno,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="ps != null" >
        ps,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tno != null" >
        #{tno,jdbcType=DECIMAL},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="ps != null" >
        #{ps,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.TeachersExample" resultType="java.lang.Integer" >
    select count(*) from teachers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teachers
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tno != null" >
        tno = #{record.tno,jdbcType=DECIMAL},
      </if>
      <if test="record.tname != null" >
        tname = #{record.tname,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=DECIMAL},
      </if>
      <if test="record.ps != null" >
        ps = #{record.ps,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teachers
    set id = #{record.id,jdbcType=INTEGER},
      tno = #{record.tno,jdbcType=DECIMAL},
      tname = #{record.tname,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=DECIMAL},
      ps = #{record.ps,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.Teachers" >
    update teachers
    <set >
      <if test="tno != null" >
        tno = #{tno,jdbcType=DECIMAL},
      </if>
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=DECIMAL},
      </if>
      <if test="ps != null" >
        ps = #{ps,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.springcloud.model.pojo.mybatis.mapper.entity.Teachers" >
    update teachers
    set tno = #{tno,jdbcType=DECIMAL},
      tname = #{tname,jdbcType=VARCHAR},
      age = #{age,jdbcType=DECIMAL},
      ps = #{ps,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>